[mysqld]
user=mysql
datadir=/var/lib/mysql
port=3306
bind-address=0.0.0.0

# Seguridad
skip-host-cache
skip-name-resolve

# Charset recomendado por WordPress
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci